.sidebar
  .sidebar__top
    .sidebar__top__namecontent
      %p.namebar Rooney
      %ul.iconcontent
        %li.newgroup 
          = link_to "#" do
            %i.fa.fa-edit
        %li.edituser
          = link_to "#" do
            %i.fa.fa-cog  

          
  .sidebar__bottom
    .sidebar__bottom__groups
      %a{ href: "#"}
      .sidebar__bottom__groups__group
        .sidebar__bottom__groups__group__groupname
          %p RedDevils
        .sidebar__bottom__groups__group__latestmessage
          %p You'll never walk alone
