.wrap{
  .main{
    width: calc(100vw - 300px);
    float: right;
    padding-top:30px;
    &__header{
      height: 100px;
      padding: 0 40px;
      display:flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      &__leftbox{
        margin-top:35px;
        &__currentgroup{
          font-size: 20px;
          font-weight: bold;
        }
        &__list{
          margin-top:15px;
          font-size: 12px;
          margin-top:15px;
        }   
      }
      a{ 
        color:#38aef0;
        text-decoration: none;
        line-height:40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
      }
    }
  

    .messages{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 46px 40px;
      overflow: scroll;
      box-sizing: border-box;
      &__message{
        font-size: 12px;

        &__upper-info{
          display:flex;

          &__talker{
            font-weight: bold;
            margin-right:10px;
          }
          &__date{

          }
            
        }
        &__text{
          margin-top:10px;

        }
          
      }
    }
    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: #ddd;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color:#38aef0;
        border: none;
        color: white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}

//     .form{
//       height: 90px;
//       padding: 20px 40px;
//       background-color: #ddd;
//       box-sizing: border-box;
//       .form__message{
//         display:flex;
//         .form_mask{
//           position: relative;
//           width: 100%;
//           .title{
//             box-sizing: border-box;
//           }
//           input{
//             height: 50px;
//             width: 100%;
//             padding: 0 40px 0 10px;
//             color: #434a54;
//             border-style: none;
            
//           }
//           .icon{
//             font-size: 1.3rem;
//             position: absolute;
//             top: 10px;
//             right: 10px;
//             cursor: pointer;
//             color: black;
//           }
//         }
//         .f.submit{
//           width: 100px;
//           height: 50px;
//           padding: 0 30px;
//           margin-left: 15px;
//           color: white;
//           cursor: pointer;
//           box-sizing: border-box;
//           float:right;
//         }
//         .form__submit{
//           background-color: #38aef0;
//         }
//       } 
//     }
//   }
// }
      
    


  